:root {
  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 20px;
  
  --border-s: 1px;
  --border-m: 2px;
  --border-l: 5px;
  
  --panel-height: 100vh;
  --panel-collapse-width: 50px;
  
  --action-btn-width: 32px;
  --action-btn-height: 32px;
  
  --h: 200;
  --s: 30;
  --l: 10;
  
  --shader: 5;
  --threshold: 65;
  
  --satDarker: calc(var(--s) + var(--shader));
  --satLighter: calc(var(--s) - var(--shader));  

  --lightDarker: calc(var(--l) - var(--shader));
  --lightLighter: calc(var(--l) + var(--shader));  
  
  --PanelFeatured: hsl(
    var(--h),
    calc( var(--s)*1%),
    calc(var(--l)*1%)
  );
  
  --PanelL: (var(--l) - var(--shader));
  --Panel: hsl(
    var(--h), 
    calc((var(--s) - var(--shader))*1%), 
    calc(var(--PanelL)*1%)
  );
  
  --PanelInverse: hsl(
    0, 
    0%, 
    calc((var(--PanelL) - var(--threshold)) * -100%)
  );
 
  --mainColorLighter: hsl(
    var(--h), 
    calc((var(--s) + var(--shader))*1%), 
    calc((var(--l) + var(--shader))*1%)
  ); 
 }